<!DOCTYPE html>
<html>
    <head>
        <title> About the developers and our contacts</title>
        <style>
        h1 {
            font-size: 42px; 
            font-weight: bold;
        }
        h2 {
          font-size: 26px;
        }
    </style>
    </head>

    <body> 
    <h1> A Little Bit About Us:</h1>
    <br> <br> 
    <h2> Ayden Yeung (Wheaton High School)</h2>
    <p> Hi, I'm Ayden! I am a freshman SGA treasurer at Wheaton High School. Some things I do for fun include, programming things and working with my raspberry pi. Some of my hobbies include playing the violin, piano 
        and practicing Martial Arts. 

    </p>

    <h2> Julian Givens (Montgomery Blair High School) </h2>

    <p></p> <!-- Julian can enter his information here -->

    


    </body>
</html>