<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MCPS Website</title>
    <link rel="stylesheet" href="stylehomepage.css">

    <style>
      h1 {
        font-weight: bold; 
        font-size: 90px;
        font-family:'Times New Roman', Times, serif;
        color:rgb(0, 0, 0)
      }

      p1 {
        font-size: 20px;
        font-family:'Times New Roman', Times, serif;
        color: rgb(0, 0, 0); 
      }


    </style>
</head>
<body>
    <div class="buttons-container">
        <a style="text-decoration:none" href="reporting.html">
            <button class="styled-button">Report Here</button>
        </a>
        <a style="text-decoration:none" href="m.html">
            <button class="styled-button">Terms</button>
        </a>

        <a style = "text-decoration:none" href = "signIn.html">
            <button class="styled-button">Sign Up/Sign In</button>
        </a>
    </div>
    <a href="https://www2.montgomeryschoolsmd.org" target="blank">
        <img src="https://i.postimg.cc/RVNQJfj4/BETTER-BUILDING-APP.png" alt="MCPS" width="150" height="200" class="top-right-image"> 
    </a>
    <div class="colored-box">
        <div class="bug-reporting">
            <p><a href="https://docs.google.com/forms/d/e/1FAIpQLSetSQowoOuET_7XUdFerB9KZQukFbGGAZmjg7Hc8O3Xd7mYvA/viewform?usp=sf_link" target="blank">Bug Reporting</a></p>
            <div class="dev-logs">
                <p><a href="https://docs.google.com/document/d/19m-vDVjdzDHj07zTTO0uB0-sm-3LkRTEOdDqFbCC68E/edit" target="blank">Dev Logs</a></p>
                <div class="about-us">
                    <p><a href="aboutus.html" target="blank">Contact Us</a></p>
                </div>
            </div>
        </div>
    </div>

    <div class = "colored-container">
       <div class="colored-box2">
        <h1> MCPS Better Building Website:</h1>
        <p1>How to use the Better Building Website:</p1>
            
            <br> <br><br>Don't just settle for an environment that doesn't fully support you. Empower yourself to make a difference by using the Better Building App. Your reports matter, and they will lead to tangible improvements that benefit everyone. Together, we can create a school environment that's not only conducive to learning but also promotes comfort and well-being. Download the Better Building App today and be a catalyst for positive change! </p1>
            
        



    </div>
</div>   





</body>
</html>