<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MCPS Website</title>
    <link rel="stylesheet" href="stylehomepage.css">
</head>
<body>
    <div class="buttons-container">
        <a style="text-decoration:none" href="reporting.html">
            <button class="styled-button">Report Here</button>
        </a>
        <a style="text-decoration:none" href="m.html">
            <button class="styled-button">Terms</button>
        </a>
        <a style="text-decoration:none" href="signIn.html">
            <button class="styled-button">Sign Up</button>
        </a>
        <button class="styled-button" onclick="toggleDarkMode()">Theme Toggle</button>
    </div>
    <a href="https://www2.montgomeryschoolsmd.org" target="_blank">
        <img src="https://i.postimg.cc/52HSXdns/MCPS.png" alt="MCPS" width="100" height="100" class="top-right-image"> 
    </a>
    <div class="colored-box">
        <div class="bug-reporting">
            <p><a href="https://docs.google.com/forms/d/e/1FAIpQLSetSQowoOuET_7XUdFerB9KZQukFbGGAZmjg7Hc8O3Xd7mYvA/viewform?usp=sf_link" target="_blank">Bug Reporting</a></p>
        </div>
        <div class="dev-logs">
            <p><a href="https://docs.google.com/document/d/19m-vDVjdzDHj07zTTO0uB0-sm-3LkRTEOdDqFbCC68E/edit" target="_blank">Dev Logs</a></p>
        </div>
        <div class="about-us">
            <p><a href="aboutus.html" target="_blank">Contact Us</a></p>
        </div>
    </div>
    <div class="text-container">
        <div class="header-text">
            <h1>Better Buildings</h1>
            <p>How to use the Better Building Website:</p>
        </div>
    </div>
    <div class="youtube-embed">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/7OZ6txCv3Us?si=CncsSg0DGE6NJImr" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div> 
    <script>
        function toggleDarkMode() {
            document.body.classList.toggle('light-mode'); 
        }
    </script>
</body>
</html>
