<!DOCTYPE html> 
<html> 
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Terms and Conditions</title>
    <style>
        /* Style for the <h1> element */
        h1 {
            font-size: 42px; 
            font-weight: bold;
        }
        p {
            font-size: 20px;
        }
    </style>
    <link rel="stylesheet" href="stylehomepage.css">
</head>
<body>
    <div class="buttons-container">
        <a style="text-decoration:none" href="index.html">
            <button class="styled-button">Home</button>
        </a>
        <a style="text-decoration:none" href="reporting.html">
            <button class="styled-button">Report Here</button>
        </a>
        <a style = "text-decoration:none" href = "signIn.html">
            <button class="styled-button">Sign Up/Sign In</button>
        </a>
    </div>
    <a href="https://www2.montgomeryschoolsmd.org" target="blank">
        <img src="https://i.postimg.cc/RVNQJfj4/BETTER-BUILDING-APP.png" alt="MCPS" width="150" height="200" class="top-right-image">
    </a>

    <h1>Terms and Conditions</h1>
    <p>By using this website, you agree to the following terms and conditions: <br> 
        1. You will only use the reporting feature responsibly; only select your middle or high school when reporting. <br>
        2. You will not "grief" with the reporting feature. <br>
        3. You will not repost an issue that has already been posted; look before you post!</p>
    
    <h1>Contact Us!</h1>
    <p>We would love to hear any suggestions, issues, or questions about the website. Contact us at ppi@mcpsmd.net</p>
    
    <div class="colored-box">
        <div class="bug-reporting">
            <p><a href="https://docs.google.com/forms/d/e/1FAIpQLSetSQowoOuET_7XUdFerB9KZQukFbGGAZmjg7Hc8O3Xd7mYvA/viewform?usp=sf_link" target="blank">Bug Reporting</a></p>
            <div class="dev-logs">
                <p><a href="https://docs.google.com/document/d/19m-vDVjdzDHj07zTTO0uB0-sm-3LkRTEOdDqFbCC68E/edit" target="blank">Dev Logs</a></p>
                <div class="about-us">
                    <p><a href="aboutus.html" target="blank">About Us</a></p>
                </div>
            </div> 
        </div>
    </div>

</body>
</html>
