:root {
    /*change themes here */ 
    --background-light: #e7e6ef;
    --background-dark: #111019;
    --text-light: #111014;
    --text-dark: #ECEBEF;
    --link-light: #111014;
    --link-dark: #ECEBEF;
    --button-background-light: #4a32b3;
    --button-background-dark: #644ccd;
    --button-text-light: #111014;
    --button-text-dark: #ecebef;
    --bottom-panel-light: #9285d1;
    --bottom-panel-dark: #3b2e7a;
}

/*font imports*/ 
@font-face {
    font-family: Ubuntu;
    src: url(Ubuntu-Regular.ttf);
}

@font-face {
    font-family: Cera;
    src: url(CeraPro-Regular.otf) format("opentype");
}

body {
    background-color: var(--background-dark);
    color: var(--text-dark);
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}

h1 {
    font-weight: bold;
    font-size: 5vw; /* Adjusted for fluid scaling */
    text-align: center;
    font-family: Ubuntu;
}

p {
    font-size: 2vw; /* Adjusted for fluid scaling */
    text-align: center;
}

.buttons-container {
    display: flex;
    gap: 10px;
    margin: 10px;
    flex-wrap: wrap;
    justify-content: center;
}

.styled-button {
    background-color: var(--button-background-dark);
    color: var(--button-text-dark);
    border-radius: 4px;
    height: 5vh; /* Adjusted for fluid scaling */
    width: 15vw; /* Adjusted for fluid scaling */
    max-width: 150px; /* Ensuring maximum width */
    font-size: 1.2vw; /* Adjusted for fluid scaling */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: none;
    cursor: pointer;
    flex: 1;
}

.colored-box {
    width: 100%;
    height: 10%;
    background-color: var(--bottom-panel-dark);
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.top-right-image {
    position: absolute;
    top: 10px;
    right: 10px;
}

.bug-reporting p,
.dev-logs p {
    color: var(--text-dark);
    font-family: Ubuntu;
    font-size: 1.2vw; /* Adjusted for smaller text size */
    text-align: center;
}

.bug-reporting a,
.dev-logs a {
    color: var(--link-dark);
    text-decoration: none;
}

.light-mode .styled-button {
    background-color: var(--button-background-light);
    color: var(--button-text-light);
}

.light-mode .colored-box {
    background-color: var(--bottom-panel-light);
}

.light-mode {
    background-color: var(--background-light);
    color: var(--text-light);
}

.light-mode .bug-reporting p,
.light-mode .dev-logs p {
    color: var(--text-light);
}

.light-mode .bug-reporting a,
.light-mode .dev-logs a {
    color: var(--link-light);
}

/* Media queries for responsive design */
@media (max-width: 768px) {
    .styled-button {
        width: auto;
        flex: 1 1 auto;
    }

    .colored-box {
        height: 100px;
    }

    .bug-reporting p,
    .dev-logs p {
        font-size: 4vw; /* Adjusted for smaller screens */
    }

    h1 {
        font-size: 8vw; /* Adjusted for smaller screens */
    }
}

@media (max-width: 480px) {
    .styled-button {
        font-size: 4vw; /* Adjusted for smaller screens */
        height: 7vh; /* Adjusted for smaller screens */
    }

    .bug-reporting p,
    .dev-logs p {
        font-size: 5vw; /* Adjusted for smaller screens */
    }

    h1 {
        font-size: 10vw; /* Adjusted for smaller screens */
    }

    .youtube-embed iframe {
        width: 100%;
        height: auto;
        margin-left: auto;
        margin-right: auto;
    }
}

.text-container {
    height: 50vh;
    width: 90%;
    margin: 0 auto;
    font-family: Ubuntu;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.youtube-embed {
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    margin-top: -20vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80vw; /* Adjusted for fluid scaling */
    max-width: 800px; /* Ensuring maximum width */
    height: 45vw; /* Adjusted for fluid scaling */
    max-height: 450px; /* Ensuring maximum height */
}

