<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MCPS Website</title>
    <link rel="stylesheet" href="display.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
</head>
<body>
    <div class="header">
        <img src="Logo.png" alt="Core" class="img">
        <div class="Title">
            <h1>MCPS Better Buildings</h1>
        </div>
    </div>
    <div class="theme-dropdown" id="theme-icon">
        <i class="fas fa-moon"></i>
        <div id="theme-content" class="theme-content">
            <a href="#" onclick="setTheme('dark')">Dark Mode</a>
            <a href="#" onclick="setTheme('light')">Light Mode</a>
            <a href="reporting.html">Reporting</a> <!-- Testing Purposes Only/Not included in 1.0-->
            <a href="index.html">Sign-In</a> <!-- Testing Purposes Only/Not included in 1.0-->
        </div>
    </div>

    <div class="wrapper">
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const savedTheme = localStorage.getItem('theme');
            if (savedTheme) {
                setTheme(savedTheme);
            } else {
                setTheme('dark');
            }

            // Add click event to show/hide the dropdown menu
            document.getElementById('theme-icon').addEventListener('click', function() {
                const themeContent = document.getElementById('theme-content');
                themeContent.style.display = themeContent.style.display === 'block' ? 'none' : 'block';
            });

            // Hide the dropdown menu when clicking outside of it
            window.addEventListener('click', function(event) {
                if (!event.target.matches('#theme-icon, #theme-icon *')) {
                    const themeContent = document.getElementById('theme-content');
                    if (themeContent.style.display === 'block') {
                        themeContent.style.display = 'none';
                    }
                }
            });
        });

        function setTheme(theme) {
            document.body.className = theme + '-mode';
            document.querySelector('#theme-icon i').className = theme === 'dark' ? 'fas fa-moon' : 'fas fa-sun';
            localStorage.setItem('theme', theme);
        }
    </script>
</body>
</html>
