<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MCPS Website</title>
    <link rel="stylesheet" href="stylehomepage.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
</head>
<body>
    <div class="menu-container">
        <div class="dropdown-container">
            <button class="dropdown-button" id="bars-icon"><i class="fa-solid fa-bars"></i></button>
            <div class="dropdown-content">
                <a href="reporting.html">Report Here</a>
                <a href="signIn.html">Sign Up</a>
                <a href="https://www2.montgomeryschoolsmd.org" target="_blank">MCPS</a>
            </div>
        </div>
        <div class="icon-container" id="theme-icon">
            <i class="fa-solid fa-moon"></i>
            <div id="theme-dropdown" class="theme-content">
                <a href="#" onclick="setTheme('dark')">Dark Mode</a>
                <a href="#" onclick="setTheme('light')">Light Mode</a>
            </div>
        </div>
    </div>
    <div class="buttons-container">
        <a style="text-decoration:none" href="reporting.html">
            <button class="styled-button">Report Here</button>
        </a>
        <a style="text-decoration:none" href="signIn.html">
            <button class="styled-button">Sign Up</button>
        </a>
        <button class="styled-button" onclick="toggleLightMode()">Toggle Theme</button>
    </div>
    <div class="text-container">
        <div class="header-text">
            <h1>Better Buildings</h1>      
        </div>
    </div>
    <div class="colored-box">
        <div class="footer">
            <p>Better Buildings by Ayden Yeung and Julian Givens</p>
        </div>
        <div class="social-icons">
            <a href="https://discord.gg/Vw9PthfQEz" target="_blank"><i class="fa-brands fa-discord"></i></a>
            <a href="https://instagram.com" target="_blank"><i class="fa-brands fa-instagram"></i></a>
            <a href="https://github.com/Scorchify/Better_Buildings" target="_blank"><i class="fa-brands fa-github"></i></a>
            <a href="https://forms.gle/RtKYyrbnDCLBHbbo7" target="_blank"><i class="fa-solid fa-bug"></i></a>
        </div>
    </div>
    <script>
        function setTheme(theme) {
            if (theme === 'dark') {
                toggleDarkMode();
            } else if (theme === 'light') {
                toggleLightMode();
            }
        }

        function toggleLightMode() {
            document.body.classList.add('light-mode');
            document.body.classList.remove('dark-mode');
            document.querySelector('#bars-icon i').classList.add('fa-bars-black');
            document.querySelector('#bars-icon i').classList.remove('fa-bars-white');
            document.querySelector('#theme-icon i').classList.add('fa-sun');
            document.querySelector('#theme-icon i').classList.remove('fa-moon');
            document.querySelector('#theme-icon').style.backgroundColor = "black";
            document.querySelector('#bars-icon').style.backgroundColor = "black";
        }

        function toggleDarkMode(){
            document.body.classList.add('dark-mode');
            document.body.classList.remove('light-mode');
            document.querySelector('#bars-icon i').classList.add('fa-bars-white');
            document.querySelector('#bars-icon i').classList.remove('fa-bars-black');
            document.querySelector('#theme-icon i').classList.add('fa-moon');
            document.querySelector('#theme-icon i').classList.remove('fa-sun');
            document.querySelector('#theme-icon').style.backgroundColor = "transparent";
            document.querySelector('#bars-icon').style.backgroundColor = "transparent";
        }
    </script>
</body>
</html>
