<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MCPS Website</title>
    <link rel="stylesheet" href="stylehomepage.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
</head>
<body>
    <div class="dropdown-container">
        <button class="dropdown-button">Menu</button>
        <div class="dropdown-content">
            <a href="reporting.html">Report Here</a>
            <a href="signIn.html">Sign Up</a>
            <a href="https://www2.montgomeryschoolsmd.org" target="_blank">MCPS</a>
        </div>
    </div>
    <div class="buttons-container">
        <a style="text-decoration:none" href="reporting.html">
            <button class="styled-button">Report Here</button>
        </a>
        <a style="text-decoration:none" href="signIn.html">
            <button class="styled-button">Sign Up</button>
        </a>
        <button class="styled-button" onclick="toggleLightMode()">Toggle Theme</button>
    </div>
    <div class="text-container">
        <div class="header-text">
            <h1>Better Buildings</h1>
            <p>How to use the Better Building Website:</p>
        </div>
    </div>
    <div class="youtube-embed">
        <iframe src="https://www.youtube.com/embed/7OZ6txCv3Us?si=CncsSg0DGE6NJImr" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div> 
    <div class="colored-box">
        <div class="footer">
            <p>Better Buildings by Ayden Yeung and Julian Givens</p>
        </div>
        <div class="social-icons">
            <a href="https://discord.gg/Vw9PthfQEz" target="_blank"><i class="fa-brands fa-discord"></i></a>
            <a href="https://instagram.com" target="_blank"><i class="fa-brands fa-instagram"></i></a>
            <a href="https://github.com/Scorchify/Better_Buildings" target="_blank"><i class="fa-brands fa-github"></i></a>
            <a href="https://forms.gle/RtKYyrbnDCLBHbbo7" target="_blank"><i class="fa-solid fa-bug"></i></a>
        </div>
    </div>
    <script>
        function toggleLightMode() {
            document.body.classList.toggle('light-mode'); 
        }
    </script>
</body>
</html>
