<!DOCTYPE html> 
<html lang="en">
<head> 
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylehomepage.css">
</head>
<body> 
    <div class="buttons-container">
        <a style="text-decoration:none" href="index.html">
            <button class="styled-button">Home</button>
        </a>
        <a style="text-decoration:none" href="m.html">
            <button class="styled-button">Terms</button>
        </a>
        <a style = "text-decoration:none" href = "signIn.html">
            <button class="styled-button">Sign Up/Sign In</button>
        </a>
    </div>
<div class="colored-box">
<div class="bug-reporting">
    <p><a href="https://docs.google.com/forms/d/e/1FAIpQLSetSQowoOuET_7XUdFerB9KZQukFbGGAZmjg7Hc8O3Xd7mYvA/viewform?usp=sf_link" target = "blank">Bug Reporting</a></p>
        <div class = "dev-logs">
            <p><a href="https://docs.google.com/document/d/19m-vDVjdzDHj07zTTO0uB0-sm-3LkRTEOdDqFbCC68E/edit" target = "blank"> Dev Logs</a></p>
                <div class = "about-us">
                    <p><a href="aboutus.html" target = "blank"> About Us</a></p>
            
            </div>
        
        </div> 
    </div>
    </div>
    

    <!-- Start of Back End Reporting -->
    <form> 
        Enter your school <br>
        <input type="text" name="school">
    </form>
    <br> 
    <form> 
        What is the problem? <br> 
        <input text = "test" name="problem">
    </form>
    



</body>


</html>