:root {
    --background-light: #f0f1f5;
    --background-dark: #0a0b0f;
    --text-light: #17181c;
    --text-dark: #e3e4e8;
    --link-light: #17181c;
    --link-dark: #e3e4e8;
    --button-background-light: #0a0b0f; /* Changed for light mode */
    --button-background-dark: #3558cb;
    --button-text-light: #fff; /* Changed for light mode */
    --button-text-dark: #101314;
    --bottom-panel-color: #3457cb;
    --dropdown-background: #070b21;
    --sun-outline-color: #101314;
}

/* page transitions */
.container {
    animation: transitionIn 0.75s;
}

@keyframes transitionIn {
    from {
        opacity: 0;
        transform: rotateX(-10deg);
    }
    to {
        opacity: 1;
        transform: rotateX(0);
    }
}

@font-face {
    font-family: Ubuntu;
    src: url(Ubuntu-Regular.ttf);
}

@font-face {
    font-family: Cera;
    src: url(CeraPro-Regular.otf);
}
.fbox { 
    display: flex;
    align-items: center;
    position: absolute;
    top: -5.5vh;
    left: -2.5vw;
}

.img {
    height: 200px;
    width: 200px;
}

.Title { 
    font-family: Ubuntu;
    font-size: 20px;
    font-weight: 600;
    margin-left: -2.5vw; /* Adjust margin to reduce space between image and title */
}
.theme-dropdown {
    position: absolute;
    margin-left: 100.5vw;
    cursor: pointer;
    border: 1px solid;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
}


body.dark-mode {
    background-color: var(--background-dark);
    color: var(--text-dark);
    background: url('dark-mode.svg') no-repeat;
    background-size: cover;
    background-position: center;
}

body.light-mode {
    background-color: var(--background-light);
    color: var(--text-light);
    background: url('light-mode.svg') no-repeat;
    background-size: cover;
    background-position: center;
}



.theme-dropdown i {
    font-size: 22px;
}

body.dark-mode .theme-dropdown {
    border-color: white;
}

body.light-mode .theme-dropdown {
    border-color: black;
}

.theme-content {
    display: none;
    position: absolute;
    background-color: var(--dropdown-background);
    min-width: 160px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    font-family: Ubuntu;
    right: 0;
    top: calc(100%);
    border-radius: 10px;
    animation: fadeIn 0.3s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.theme-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-family: Ubuntu;
}

.theme-content a:hover {
    background-color: var(--button-background-light);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Ubuntu;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

body.light-mode .theme-content a {
    color: white; /* Ensure the theme content links remain white */
}

.wrapper {
    width: 420px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    color: #fff;
    border-radius: 10px;
    padding: 30px 40px;
}

.wrapper h1 {
    font-size: 24px;
    text-align: center;
    color: var(--text-dark);
}